<div ng-controller="StructureController">
    <div class="row">
        <div class="col-12">
            <div class="card bg-primary">
                <div class="card-header">
                        <span class="fas fa-home h5 pr-5">Buildings</span>
                        <i class="fas fa-flag"></i> {{countryStats.land}}
                        <i class="fas fa-money-bill-alt"></i> {{countryStats.money | niceNumber}}
                        <i class="fas fa-percent"></i>: {{buildings.getTotalMultiplier()}}
                        Upkeep: {{buildings.getTotalUpkeep()}}
                        <i class="fas fa-briefcase"></i> {{countryStats.totalJobs}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="bg-secondary col-2" ng-repeat="structure in buildings.structures track by $index" ng-class="structure.isUnlocked ? '' : 'structureNotVisible'">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <a class=href="#" uib-tooltip-template="'app/components/structure/templates/structuresTooltip.html'">
                                <span>{{structure.name}} ({{structure.count}})</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <i class="fas fa-money-bill-alt"></i>
                            {{structure.getCost() * buildings.countToBuy | niceNumber}}
                            <i class="fas fa-flag"></i>
                            {{structure.getLandCost() * buildings.countToBuy}}
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <button class="btn btn-sm btn-success"
                            ng-disabled="!structure.isUnlocked || structure.cantAfford(buildings.countToBuy)"
                            ng-class="{'btn-danger': structure.cantAfford(buildings.countToBuy)}"
                            ng-click="structure.build(buildings.countToBuy)">
                        <span class="text-center">Buy x{{buildings.countToBuy}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<ng-include src="'app/shared/advisorHire/advisors_hireView.html'"></ng-include>-->
<!--<ng-include src="'app/shared/advisorHelp/help_advisorsView.html'"></ng-include>-->
