<!DOCTYPE html>
<html lang="en" ng-app="WCI" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>World Conqueror</title>
    <!--Javascript-->
    <script src="assets/libs/js/jquery.min.js"></script>
    <script src="assets/libs/js/angular.js"></script>
    <script src="assets/libs/js/chart.js"></script>
    <script src="assets/libs/js/angular-chart.min.js"></script>
    <script src="assets/libs/js/angular-sanitize.js"></script>
    <script src="assets/libs/js/angular-route.js"></script>
    <script src="assets/libs/js/select.js"></script>
    <script src="assets/libs/js/xlsx.full.min.js"></script>
    <script src="assets/libs/js/cpexcel.js"></script>
    <script src="assets/libs/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="assets/libs/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="assets/libs/js/jquery-jvectormap-world-mill-en.js"></script>
    <!--css-->
    <link rel="stylesheet" href="assets/libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/libs/css/font-awesome/all.css">
    <link rel="stylesheet" href="assets/libs/css/select.min.css">
    <link rel="stylesheet" href="assets/libs/css/jquery-jvectormap-2.0.3.css">
    <!--<link rel="stylesheet" href="libs/css/metro-bootstrap.css">
    <link rel="stylesheet" href="libs/fonts/metroSysIcons.svg">
    <link rel="stylesheet" href="libs/fonts/metroSysIcons.tff">
    <link rel="stylesheet" href="libs/fonts/metroSysIcons.woff">
    -->
</head>
<body ng-controller="GameController as game">
<div class="main_overlay">
    <div class="container-fluid">
        <div class="row" ng-show="game.data.init.isFirstTime != true">
            <div class="col-sm-12">
                <div class="row">
                    <div class="debug-buttons">
                        <button ng-click="hideDebug=true" ng-hide="hideDebug">Hide</button>
                        <button ng-click="hideDebug=false" ng-show="hideDebug">Show</button>
                        <div ng-hide="hideDebug">
                            <button ng-click="game.debug.giveMeAll()">Give All</button><br>
                            <button ng-click="game.debug.addLand()">Land +100</button><br>
                            <button ng-click="game.debug.addInfluence()">Influence +100000</button><br>
                            <button ng-click="game.debug.addUnits()">Units +100</button><br>
                            <button ng-click="game.debug.addEachBuilding()">Structures +10</button><br>
                            <button ng-click="game.debug.addResearchPoints()">Science +1k</button><br>
                            <button ng-click="game.debug.stabilityChange(10)">Stability +10</button><br>
                            <button ng-click="game.debug.stabilityChange(-10)">Stability -10</button><br>
                            <button ng-click="game.debug.stabilityIndexChange(1)">StabilityIndex +1</button><br>
                            <button ng-click="game.debug.stabilityIndexChange(-1)">StabilityIndex -1</button><br>
                        </div>
                    </div>
                    <div class="btn-group-vertical map-overlay-buttons">
                        <button class="btn btn-info" ng-repeat="item in modalButtons" ng-click="openModal($index)">
                            <i ng-class="item.icon"></i>
                            <span class="hidden-sm hidden-xs">
                            {{item.name}}
                            </span>
                        </button>
                    </div>
                    <div class="col-xs-12 map-overlay-stats dark-background text-center">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-include="'app/shared/statHeader/statHeaderView.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-1 leader-icon">
                        <a href="#" class="thumbnail">
                            <img ng-click="openModal(6)" src="./assets/img/avatar_blank.jpeg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-1 game-time">
                        <span class="label label-info">Year: {{1900 + game.myCountry.baseStats.currentTurn}}</span>
                        <button class="btn btn-primary btn-xs" ng-click="game.resetGame()">
                                    <span>
                                        Reset
                                    </span>
                        </button>
                    </div>


                    <div class="worldMap-hiringQueue">
                        <div class="panel panel-default hidden-xs modalOverflow">
                            <h4 class="text-center"><small>Queue:</small></h4>
                            <div class="worldMap-hiringQueueWidth">
                            <!--Units Queue -->
                            <!-- TODO: Create a directive or something so we don't repeat this here and in militaryView... -->
                                <div class="" ng-repeat="unit in game.myCountry.military.unitsHiringQueue track by $index">
                                    <div class="">
                                        <div class="thumbnail worldMap-hiringQueueMargin text-center">
                                            <span class="text-center font-8pt">
                                                {{unit.name}}
                                                <a class="text-danger"
                                                   ng-click="military.cancelQueue($index)">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </span>
                                            <img src="./assets/img/avatar_blank.jpeg">
                                            <uib-progressbar class="hiringQueue-progressBar"
                                                             value="(100 - unit.time/unit.trainingSpeed * 100)">
                                            </uib-progressbar>
                                            <span class="text-center font-8pt">
                                                    {{unit.count | niceNumber}} - {{unit.time}}/t
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="map-overlay-next-turn">
                        <button class="btn btn-success btn-lg" ng-click="game.nextTurn()">Next Turn</button>
                    </div>
                    <div id="world-map" style="height: 100vh;">
                    </div>
                </div>
            </div>
<!--dasda-->
            <div ng-include="'app/components/introScreen/introscreenView.html'"></div>
            <div ng-include="'app/shared/notifications/notificationsView.html'"></div>

        </div>
    <ng-include src="'app/components/war/warConfirmation/war_confirmationView.html'"></ng-include>
    <ng-include src="'app/components/war/warSendTroopsModal.html'"></ng-include>
    <ng-include src="'app/components/government/internalAffairsView.html'"></ng-include>
    <ng-include src="'app/components/changelog/changelogView.html'"></ng-include>
    <ng-include src="'app/components/structure/structureView.html'"></ng-include>
    <ng-include src="'app/components/military/militaryView.html'"></ng-include>
    <ng-include src="'app/components/research/researchView.html'"></ng-include>
    <ng-include src="'app/components/war/warView.html'"></ng-include>
    <ng-include src="'app/shared/charts/chartsView.html'"></ng-include>

    </div>
</div>
    <!--Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55219778-1', 'auto');
        ga('send', 'pageview');

    </script>

    <footer>

        <!-- App and Routing -->
        <script src="app/app.module.js"></script>
        <script src="app/app.routes.js"></script>

        <!-- Controllers -->
        <script src="app/components/changelog/changelogController.js"></script>
        <script src="app/components/country/countryController.js"></script>
        <script src="app/components/game/GameControllers.js"></script>
        <script src="app/components/military/militaryController.js"></script>
        <script src="app/components/research/researchController.js"></script>
        <script src="app/components/structure/structureController.js"></script>
        <script src="app/components/ministers/ministersHiringController.js"></script>
        <script src="app/components/war/warController.js"></script>
        <script src="app/components/war/warConfirmation/warConfirmationController.js"></script>
        <script src="app/components/war/warSendTroopsController.js"></script>

        <!-- Services -->
        <script src="app/components/advisors/advisorsService.js"></script>
        <script src="app/components/country/playerService.js"></script>
        <script src="app/components/government/lawsService.js"></script>
        <script src="app/components/military/militaryService.js"></script>
        <script src="app/components/research/researchService.js"></script>
        <script src="app/components/worldCountry/worldCountryService.js"></script>
        <script src="app/components/game/saveService.js"></script>
        <script src="app/components/game/initService.js"></script>
        <script src="app/components/ministers/ministerService.js"></script>
        <script src="app/components/structure/buildingsService.js"></script>
        <script src="app/components/bonuses/bonusesService.js"></script>
        <script src="app/components/game/gameDataService.js"></script>
        <script src="app/components/worldCountry/aiPlayerService.js"></script>
        <script src="app/components/war/warService.js"></script>

        <!-- Shared Controllers -->
        <script src="app/shared/advisorHelp/advisorHelperController.js"></script>
        <script src="app/shared/advisorHire/advisorHiringController.js"></script>
        <script src="app/shared/tooltip/tooltipController.js"></script>
        <script src="app/shared/charts/chartsController.js"></script>

        <!-- Shared Services -->
        <script src="app/shared/helperModal/helperModalsService.js"></script>
        <script src="app/shared/notifications/notificationService.js"></script>
        <script src="app/shared/modal/modalService.js"></script>
        <script src="app/shared/charts/chartsService.js"></script>

        <!-- Filters -->
        <script src="app/shared/filters/NumberFilters.js"></script>
        <script src="app/shared/filters/DateTimeFilters.js"></script>

        <!-- Functions -->
        <script src="app/shared/excelLoader.js"></script>

        <link rel="stylesheet" href="assets/css/main.css"/>
        <link rel="stylesheet" href="assets/css/common.css"/>

        <!-- Debug service -->
        <script src="app/shared/debugService.js"></script>

    </footer>
</body>
</html>
