<p id="errors" class="col-md-12 bg-danger padding-10 bold clickable" ng-show="ministerHireError" ng-click="ministerHireError = false;">
    <i class="fa fa-info-circle"></i>
    {{ministerHireErrorMessage}}
</p>
<div class="col-12">
    <p class="text-white">
        Influence: {{myCountry.baseStats.influence}}
    </p>
</div>
<div id="ministers" class="card-deck col-12 mb-2">
        <div class="card bg-secondary col-2" ng-repeat="minister in myCountry.ministers.activeMinisters track by $index">
            <div class="card-body p-1 clickable" ng-click="countryCtrl.fireMinister(minister)">
                <div class="row">
                    <div class="col-md-auto">
                        <span class="fas fa-user"></span>
                        <small uib-tooltip="{{minister.description}}">
                            {{minister.ministerType}}
                        </small>
                    </div>
                    <div class="col order-12 text-center" uib-tooltip="influence per turn">
                        <span class="small fas fa-thumbs-up"></span>
                        <small>{{minister.influencePT}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-2" ng-if="myCountry.ministers.activeMinisters.length < myCountry.ministers.maxMinisters" ng-class="myCountry.baseStats.influence >= myCountry.ministers.nextMinisterCost ? 'bg-success' : 'bg-danger'">
            <div class="card-body p-1 clickable" ng-click="countryCtrl.openMinisterHire()" >
                <div class="row">
                    <div class="col-md-auto">
                        <i class="text-center fas fa-plus">
                            Cost: {{myCountry.ministers.nextMinisterCost}}
                        </i>
                    </div>
                </div>
            </div>
        </div>
</div>
