<div class="modal-header">
    <h4 class="modal-title">Hire Minister</h4>
</div>
<div class="modal-body font-9pt row">
    <div ng-repeat="minister in remainingMinisters">
        <div class="panel-body custom-panel">
            <div class="col-md-2 col-sm-3 avatar">
                <img class="img-responsive" src="{{minister.image}}" />
            </div>
            <div class="col-md-6 col-sm-6">
                <span>{{minister.ministerType}}</span>
                <br />
                <span>influence{{minister.influencePT}}/turn</span>
                <br />
                <span>{{minister.description}}</span>
            </div>
            <div class="col-md-3 col-sm-3 pull-right">
                <button class="btn-success pull-right" ng-click="hire(minister)">Hire ({{nextMinisterCost| niceNumber}} influence)</button>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer align-center">
    <button class="btn-danger" ng-click="cancel()">Cancel</button>
</div>