<div id="Common Header" ng-controller="TooltipController">

    <div class="row">
        <div id="Main Stats" class="col-12">
            <div class="row">
                <div class="col-1">
                    <span>
                        <i class="fas fa-plus-circle" ng-click="expandStatRow()" ng-show="expandStats === false;"></i>
                        <i class="fas fa-minus-circle" ng-click="expandStatRow()" ng-show="expandStats === true;"></i>
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        <i class="fas fa-users" tooltip-placement="auto bottom-right"
                           uib-tooltip="Population"></i>
                    </span>
                    <span ng-mouseenter="updateTooltip()">
                        {{player.baseStats.population + player.baseStats.trainedPopulation | number: 0 | niceNumber }}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          ng-class="player.populationGrowth() >= 0 ? 'text-success' : 'text-danger'"
                          uib-tooltip-html="population">
                        ({{player.populationGrowth() | number: 0 | niceNumber }})
                    </span>
                </div>
                <div class="col-2">
                    <span style="color:green">
                        <i class="fas fa-money-bill-alt" tooltip-placement="auto bottom-right" uib-tooltip="Money"></i>
                    </span>
                    <span ng-mouseenter="updateTooltip()">
                        {{player.baseStats.money | number:0 | niceNumber}}
                    </span>
                    <span class="bold" tooltip-placement="auto bottom-right"
                          ng-class="moneyGrowth() > 0 ? 'text-success': 'text-danger'"
                          uib-tooltip-html="money">
                        ({{player.income() - totalUpkeep() | number: 0 | niceNumber}})
                    </span>
                </div>
                <div class="col-2">
                    <span class="font-color-orange">
                        <i class="glyphicon glyphicon-cutlery" tooltip-placement="auto bottom-right" uib-tooltip="Food"></i>
                    </span>
                    <span ng-mouseenter="updateTooltip()">
                        {{player.baseStats.food | number: 0 | niceNumber}}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          ng-class="player.foodFlow() > 0 ? 'text-success' : 'text-danger'"
                          uib-tooltip-html="food">
                        ({{player.foodFlow() | number: 0 | niceNumber}})
                    </span>
                </div>
                <div class="col-2" ng-class="player.baseStats.happiness > 75 ? 'text-success' : player.baseStats.happiness > 25 ? 'text-warning' : 'text-danger'">
                    <span>
                        <i class="fas bold" tooltip-placement="auto bottom-right" uib-tooltip="Happiness"
                           ng-class="player.baseStats.happiness > 75 ? 'fa-smile' : player.baseStats.happiness > 25 ? 'fa-meh' : 'fa-frown'"></i>
                    </span>
                    <span class="bold">
                        {{player.baseStats.happiness}}
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        <i class="fas fa-anchor bold" tooltip-placement="auto bottom-right" uib-tooltip="Stability"></i>
                    </span>
                    <span class="bold" tooltip-placement="auto bottom-right"
                          ng-class="player.baseStats.stability > 66 ? 'text-success' : player.baseStats.stability > 33 ? 'text-warning' : 'text-danger'">
                        {{player.baseStats.stability}}
                    </span>
                    <span class="bold" tooltip-placement="auto bottom-right"
                          ng-class="player.getCurrentStabilityIndex() > 0 ? 'text-success': 'text-danger'"
                          uib-tooltip="Stability Index">
                        ({{player.getCurrentStabilityIndex()}})
                    </span>
                </div>
            </div>

        </div>
        <div id="Side Stats" class="col-12" ng-show="expandStats">
            <div class="row">
                <div class="col-2 offset-1">
                    <span class="font-color-blue">
                        <i class="fas fa-home" tooltip-placement="auto bottom-right" uib-tooltip="Housing"></i>
                    </span>
                    <span>
                        {{player.baseStats.housingCapacity | niceNumber}}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          uib-tooltip="Homeless"
                          ng-class="player.homelessness() === 0 ? 'text-success' : 'text-danger'">
                        ({{player.homelessness()}}%)
                    </span>

                </div>
                <div class="col-2">
                    <span class="font-color-blue">
                        <i class="fas fa-briefcase" tooltip-placement="auto bottom-right" uib-tooltip="Jobs"></i>
                    </span>
                    <span>
                        {{player.baseStats.totalJobs | niceNumber}}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          uib-tooltip="Unemployment"
                          ng-class="player.unemployment() === 0 ? 'text-success' : 'text-danger'">
                        ({{player.unemployment()}}%)
                    </span>
                </div>
                <div class="col-2">
                    <span class="font-color-orange">
                        <i class="glyphicon glyphicon-cutlery" tooltip-placement="auto bottom-right" uib-tooltip="Food"></i>
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right" uib-tooltip="Hunger"
                          ng-class="player.baseStats.hunger === 0 ? 'text-success' : 'text-danger'">
                        ({{player.baseStats.hunger}}%)
                    </span>
                </div>

            </div>
            <!--RJ: 3/25/2018, just commenting this out to see how the buildings UI will look. -->
            <!--<div class="row">
                <div class="col-xs-12">
                    <i class="fas fa-lightbulb-o"></i> {{player.baseStats.baseResearchPoints}}/turn
                </div>
            </div>-->
        </div>

    </div>
</div>
