<div id="Common Header" ng-controller="TooltipController">

    <div class="row">
        <div id="Main Stats" class="col-12">
            <div class="row">
                <div class="col-1">
                    <span>
                        <i class="fas fa-plus-circle" ng-click="expandStatRow()" ng-show="expandStats === false;"></i>
                        <i class="fas fa-minus-circle" ng-click="expandStatRow()" ng-show="expandStats === true;"></i>
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        <i class="fas fa-users" tooltip-placement="auto bottom-right"
                           uib-tooltip="Population"></i>
                    </span>
                    <span ng-mouseenter="updateTooltip()">
                        {{game.myCountry.baseStats.population + game.myCountry.baseStats.trainedPopulation | number: 0 | niceNumber }}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          ng-class="game.myCountry.populationGrowth() >= 0 ? 'text-success' : 'text-danger'"
                          uib-tooltip-html="population">
                        ({{game.myCountry.populationGrowth() | number: 0 | niceNumber }})
                    </span>
                </div>
                <div class="col-2">
                    <span style="color:green">
                        <i class="fas fa-money-bill-alt" tooltip-placement="auto bottom-right" uib-tooltip="Money"></i>
                    </span>
                    <span ng-mouseenter="updateTooltip()">
                        {{game.myCountry.baseStats.money | number:0 | niceNumber}}
                    </span>
                    <span class="bold" tooltip-placement="auto bottom-right"
                          ng-class="game.myCountry.moneyGrowth() > 0 ? 'text-success': 'text-danger'"
                          uib-tooltip-html="money">
                        ({{game.myCountry.income() - game.myCountry.totalUpkeep() | number: 0 | niceNumber}})
                    </span>
                </div>
                <div class="col-2">
                    <span class="font-color-orange">
                        <i class="glyphicon glyphicon-cutlery" tooltip-placement="auto bottom-right" uib-tooltip="Food"></i>
                    </span>
                    <span ng-mouseenter="updateTooltip()">
                        {{game.myCountry.baseStats.totalFood | number: 0 | niceNumber}}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          ng-class="game.myCountry.foodFlow() > 0 ? 'text-success' : 'text-danger'"
                          uib-tooltip-html="food">
                        ({{game.myCountry.foodFlow() | number: 0 | niceNumber}})
                    </span>
                </div>
                <div class="col-2" ng-class="game.myCountry.baseStats.happiness > 75 ? 'text-success' : game.myCountry.baseStats.happiness > 25 ? 'text-warning' : 'text-danger'">
                    <span>
                        <i class="fas bold" tooltip-placement="auto bottom-right" uib-tooltip="Happiness"
                           ng-class="game.myCountry.baseStats.happiness > 75 ? 'fa-smile' : game.myCountry.baseStats.happiness > 25 ? 'fa-meh' : 'fa-frown'"></i>
                    </span>
                    <span class="bold">
                        {{game.myCountry.baseStats.happiness}}
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        <i class="fas fa-anchor bold" tooltip-placement="auto bottom-right" uib-tooltip="Stability"></i>
                    </span>
                    <span class="bold" tooltip-placement="auto bottom-right"
                          ng-class="game.myCountry.baseStats.stability > 66 ? 'text-success' : game.myCountry.baseStats.stability > 33 ? 'text-warning' : 'text-danger'">
                        {{game.myCountry.baseStats.stability}}
                    </span>
                    <span class="bold" tooltip-placement="auto bottom-right"
                          ng-class="game.myCountry.getCurrentStabilityIndex() > 0 ? 'text-success': 'text-danger'"
                          uib-tooltip="Stability Index">
                        ({{game.myCountry.getCurrentStabilityIndex()}})
                    </span>
                </div>
            </div>

        </div>
        <div id="Side Stats" class="col-12" ng-show="expandStats">
            <div class="row">
                <div class="col-2 offset-1">
                    <span class="font-color-blue">
                        <i class="fas fa-home" tooltip-placement="auto bottom-right" uib-tooltip="Housing"></i>
                    </span>
                    <span>
                        {{game.myCountry.baseStats.housingCapacity | niceNumber}}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          uib-tooltip="Homeless"
                          ng-class="game.myCountry.homelessness() === 0 ? 'text-success' : 'text-danger'">
                        ({{game.myCountry.homelessness()}}%)
                    </span>

                </div>
                <div class="col-2">
                    <span class="font-color-blue">
                        <i class="fas fa-briefcase" tooltip-placement="auto bottom-right" uib-tooltip="Jobs"></i>
                    </span>
                    <span>
                        {{game.myCountry.baseStats.totalJobs | niceNumber}}
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right"
                          uib-tooltip="Unemployment"
                          ng-class="game.myCountry.unemployment() === 0 ? 'text-success' : 'text-danger'">
                        ({{game.myCountry.unemployment()}}%)
                    </span>
                </div>
                <div class="col-2">
                    <span class="font-color-orange">
                        <i class="glyphicon glyphicon-cutlery" tooltip-placement="auto bottom-right" uib-tooltip="Food"></i>
                    </span>
                    <span class="bold hidden-xs" tooltip-placement="auto bottom-right" uib-tooltip="Hunger"
                          ng-class="game.myCountry.baseStats.hunger === 0 ? 'text-success' : 'text-danger'">
                        ({{game.myCountry.baseStats.hunger}}%)
                    </span>
                </div>

            </div>
            <!--RJ: 3/25/2018, just commenting this out to see how the buildings UI will look. -->
            <!--<div class="row">
                <div class="col-xs-12">
                    <i class="fas fa-lightbulb-o"></i> {{game.myCountry.baseStats.baseResearchPoints}}/turn
                </div>
            </div>-->
        </div>

    </div>
</div>
