<div ng-controller="MilitaryController">
    <script type="text/ng-template" id="militaryView.html">
        <div id="Army" class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <span class="glyphicon glyphicon-screenshot"></span> Army
                    </h3>
                    <hr>
                    <div class="row">
                        <div id="militaryResources" class="col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fas fa-money-bill-alt"></i> -{{military.getTotalUpkeep()}}/turn
                                        </div>
                                        <div class="col-xs-3">
                                            <i class="fas fa-male"></i> {{countryData.unitCap}}
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn btn-sm btn-primary" ng-click="military.unitsToHire = 1">1x</button>
                                            <button class="btn btn-sm btn-primary" ng-click="military.unitsToHire = 5">5x</button>
                                            <button class="btn btn-sm btn-primary" ng-click="military.unitsToHire = 25">25x</button>
                                            <button class="btn btn-sm btn-primary" ng-click="military.unitsToHire = 100">100x</button>
                                            <button class="btn btn-sm btn-primary" ng-click="military.unitsToHire = 1000">1000x</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="military" class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8 font-9pt">
                                    <div class="row modalOverflow">
                                        <div ng-repeat="unit in military.unitsAtHome track by $index">
                                        <!-- Hide on xs/sm -->
                                            <div class="hidden-xs hidden-sm">
                                                <div class="col-xs-4"
                                                     ng-class="{'invisible': !unit.isUnlocked}">
                                                    <!--TODO: Change class to hidden, instead of invisible, to remove the empty space between unlocked and locked units-->
                                                    <div class="row">
                                                        <div class="col-xs-4 col-xs-offset-4">
                                                            <div class="text-center noBottom-border">
                                                                {{unit.count}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-primary font-8pt">
                                                        <div class="row text-center">
                                                            <h4>{{unit.name}}</h4>
                                                        </div>
                                                        <div class="row text-center">
                                                            <div class="col-xs-4">
                                                                <i class="fas fa-fire"></i> {{military.getAttack(unit.id)}}
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <i class="fas fa-shield-alt"></i> {{military.getDefense(unit.id)}}
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <i class="glyphicon glyphicon-tower"></i> {{military.getSiege(unit.id)}}
                                                            </div>
                                                        </div>
                                                        <div class="row text-center">
                                                            <div class="col-xs-4">
                                                                <i class="fas fa-redo-alt"></i> {{military.getUpkeep(unit.id)}}
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <i class="fas fa-male"></i> {{military.getPopulationCost(unit.id)}}
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <i class="fas fa-angle-double-up"></i> {{military.getTrainingSpeed(unit.id)}}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <button class="btn btn-block btn-success"
                                                                        ng-click="military.buyQueue(unit.id)">
                                                                    x {{military.unitsToHire}} <i class="fas fa-money-bill-alt"></i>
                                                                    {{military.getCost(unit.id) * military.unitsToHire | niceNumber}}
                                                                    <i class="fas fa-male"></i>
                                                                    {{military.getPopulationCost(unit.id) * military.unitsToHire | niceNumber}}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fix for different sizes columns -->
                                                <div ng-class="($index + 1)%3 === 0 && $index !== 0 ? 'clearfix' : ''"></div>
                                            </div>

                                            <!-- Hide on md/lg -->
                                            <div class="hidden-md hidden-lg">
                                                <div class="col-xs-12">
                                                    <div class="row bottom-border margin-bottom-5">
                                                        <div class="col-xs-6 col-sm-7">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 text-center">
                                                                            <span class="tag label label-default center-block">{{unit.name}}({{unit.count}})</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row font-8pt">
                                                                        <div class="col-xs-6 col-sm-4">
                                                                            <i class="fas fa-fire"></i> {{military.getAttack(unit.id)}}
                                                                        </div>
                                                                        <div class="col-xs-6 col-sm-4">
                                                                            <i class="fas fa-shield-alt"></i> {{military.getDefense(unit.id)}}
                                                                        </div>
                                                                        <div class="col-xs-6 col-sm-4">
                                                                            <i class="glyphicon glyphicon-tower"></i> {{military.getSiege(unit.id)}}
                                                                        </div>
                                                                        <div class="col-xs-6 col-sm-4">
                                                                            <i class="fas fa-redo-alt"></i> {{military.getUpkeep(unit.id)}}
                                                                        </div>
                                                                        <div class="col-xs-6 col-sm-4">
                                                                            <i class="fas fa-male"></i> {{military.getPopulationCost(unit.id)}}
                                                                        </div>
                                                                        <div class="col-xs-6 col-sm-4">
                                                                            <i class="fas fa-angle-double-up"></i> {{military.getTrainingSpeed(unit.id)}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-5">
                                                            <button class="btn btn-block btn-success"
                                                                    ng-click="military.buyQueue(unit.id)">
                                                                x {{military.unitsToHire}} <i class="fas fa-money-bill-alt"></i>
                                                                {{military.getCost(unit.id) * military.unitsToHire | niceNumber}}
                                                                <i class="fas fa-male"></i>
                                                                {{military.getPopulationCost(unit.id) * military.unitsToHire | niceNumber}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 modalOverflow hiringQueue">
                                    <h3 class="text-center">Hiring Queue</h3>
                                    <div class="row">
                                        <div class="col-xs-4 col-md-6 col-lg-4" ng-repeat="unit in military.unitsHiringQueue track by $index">
                                            <div class="thumbnail text-center">
                                                <div>
                                                    <span class="text-center font-8pt">
                                                        {{unit.name}}
                                                        <a class="text-danger"
                                                        ng-click="military.cancelQueue($index)">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                                <img src="./assets/img/avatar_blank.jpeg">
                                                <div>
                                                    <uib-progressbar class="hiringQueue-progressBar"
                                                                     value="(100 - unit.time/unit.trainingSpeed * 100)">
                                                        <!--<span>-->
                                                            <!--<a class="text-danger"-->
                                                               <!--ng-click="military.cancelQueue($index)">-->
                                                                <!--<i class="fas fa-times"></i>-->
                                                            <!--</a>-->
                                                        <!--</span>-->
                                                    </uib-progressbar>
                                                    <span class="text-center font-8pt">
                                                        {{unit.count | niceNumber}} - {{unit.time}}/turns
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>