/*Margins and Paddings*/
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-left-negative-10{
    margin-left:-10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-15 {
  margin-left: 15px!important;
}

.margin-left-10{
    margin-left: 10px!important;
}

.padding-top-10 {
    padding-top:10px;
}
.padding-10 {
    padding: 10px 10px 10px 10px;
}


/*Custom Controls*/
.clickable {
    cursor: pointer;
}

.vertical-center-columns-content{
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexRow > [class^="col-"],
.flexRow > [class*=" col-"] {
    display: flex;
    align-items: center;     /* Align the flex-items vertically */
    justify-content: flex-end; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
.row-equal-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.stripedBackground {
    background: repeating-linear-gradient( -55deg, #8a1616, #8a1616 10px, #af3e3e 10px, #af3e3e 20px );
}

.margin-left-auto{
    margin-left: auto;
}
/*Alignment*/
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-middle {
    vertical-align: middle;
}

/*Font Styles*/

.font-2em {
    font-size: 2em;
}

.font-12pt {
    font-size: 12pt;
}

.font-9pt {
    font-size: 9pt;
}

.font-8pt {
    font-size: 8pt;
}

.bold {
    font-weight: bold;
}

.font-color-green {
    color: green;
}

.font-color-blue {
    color: blue;
}

.font-color-lightblue {
    color: #1C6BA0;
}


.font-color-yellow {
    color: yellow;
}

.font-color-orange {
    color: orange;
}

.font-color-red {
    color: red;
}

.font-color-white {
    color: #e0e0e0;
}


/*Background Colors*/
.bg-color-green {
    background-color: green;
}


/*Custom Controls*/
.big-banner {
    padding:15px;
}

.custom-panel:hover {
    background-color: #888;
    color: white;
}

/*Borders*/
.all-border {
    border-width: 1px;
    border-radius: 2.5px;
    border-style: solid;
}

.bottom-border {
    border-bottom: 1px solid;
}

.noBottom-border {
    border-width:1px 1px 0px 1px;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    border-style:solid;
}