<div ng-controller="ChartsController">
    <script type="text/ng-template" id="chartsView.html">
        <div class="container-fluid modalOverflow">
            <div class="row">
                <div class="col-3" ng-repeat="name in chartTypes">
                    <button class="btn-small btn-success" ng-click="changeType(name)">{{name}}</button>
                </div>
                <div class="col-3">
                    History Length <button class="btn-sm btn-success" ng-click="changeHistoryLength(-1)">-1</button>
                    <button class="btn-sm btn-success" ng-click="changeHistoryLength(1)">+1</button>
                </div>
            </div>
            <div class="row" ng-repeat="(name, chart) in charts track by $index">
                <div class="col-12">
                    <h3 class="text-center">{{name}}</h3>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3" ng-repeat="(key, chartData) in chart track by $index">
                            <canvas id="$index" height="230" class="chart chart-base" chart-data="chartData" chart-type="type"
                                    chart-labels="labels" chart-series="series[name][key]" chart-options="options"
                                    chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors[name]">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>