<div class="row" ng-controller="WarController">
    <div class="col">
        <h3>Control Room</h3>
        <div class="row" ng-repeat="countryCode in playerCountriesAtWar track by $index">
            <div class="col-1">
                {{countryCode}}
            </div>
            <div class="col">
                <div class="row input-group mb-3" ng-repeat="(unitType, unitAmount) in military.unitsAtHome track by $index">
                    <div class="input-group-prepend col-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{unitType}}</span>
                    </div>
                    <input class="col-6" type="number" class="form-control" aria-label="Small" ng-model="unitsToSend[unitType]" min="0" max="unitAmount" integer>
                    <div class="col-3 input-group-append">
                        <span class="input-group-text">Max: {{unitAmount}}</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <button ng-click="sendUnitsToBattle(countryCode)">Send Units</button>
            </div>
        </div>
    </div>
</div>