<div ng-controller="WarController">
    <script type="text/ng-template" id="warView.html">
        <div id="War" class="row">
            <div class="col-sm-12">
                <div id="war-control" class="row">
                    <div id="battleScreen" class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <span>
                                        <div class="row">
                                            <div class="col-sm-7 text-center">Control Room</div>
                                            <div class="col-sm-4 col-sm-offset-1 text-center">War Log</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body custom-panel font-9pt">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="row" ng-repeat="aiIndex in warService.currentlyAtWar">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <div class="row" ng-repeat="aiCountry in worldCountryService.AiPlayers[aiIndex].countries track by $index">
                                                    {{"AI PLAYER NAME: " + worldCountryService.AiPlayers[aiIndex].name}}
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <h4>
                                                                    {{aiCountry.countryCode}}
                                                                </h4>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <button type="button" class="btn btn-danger" ng-click="makePeace($index)">Make Peace</button>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <button type="button" class="btn btn-danger" ng-click="openTroopsModal($index)">Send Troops</button>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <button type="button" class="btn btn-danger" ng-click="returnUnits($index)">Return Troops</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="row" ng-repeat="warLog in warService.warLog track by $index">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <p>{{warLog}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<!-- ** This is commented out, since I moved it to index.html, because the game map was moved as well... **-->
<!--<ng-include src="'app/components/war/warConfirmation/war_confirmationView.html'"></ng-include>-->
<!--<ng-include src="'app/components/war/warSendTroopsModal.html'"></ng-include>-->