<script type="text/ng-template" id="warView.html">
<div class="container-fluid">
    <div class="row margin-top-20">
        <div ng-class="countrySelected ? 'col-sm-4' : 'col-sm-8'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>
                        Control Room
                    </span>
                </div>
                <div class="panel-body overflow-80vh">
                    <div class="row" ng-repeat="(index, aiIndex) in warService.currentlyAtWar">
                        <div class="col-sm-12">
                            <span>
                                    {{ worldCountryService.AiPlayers[aiIndex].name }}
                                </span>
                            <div class="row" ng-repeat="aiCountry in worldCountryService.AiPlayers[aiIndex].countries track by $index">
                                <div class="col-sm-3">
                                    <h4>{{aiCountry.name}}</h4>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-success" ng-click="makePeace(aiIndex)">Make Peace</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-warning" ng-click="sendUnits(aiIndex, $index)" ng-class="buttonId === aiIndex ? 'btn-danger' : 'btn-warning'">Send Troops</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-warning" ng-click="returnUnits(aiIndex)" ng-show="canReturnUnits(index)">Return Troops</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary" ng-show="mainDisplay === 'sendUnits'">
                <div class="panel-heading">
                    <span>
                        Send Troops to {{worldCountryService.AiPlayers[buttonId].name}}
                    </span>
                </div>

                <div class="panel-body overflow-80vh">
                    <div class="row" ng-repeat="unit in military.unitsAtHome track by $index" ng-show="unit.count > 0">
                        <div class="col-xs-12">
                            <rzslider rz-slider-model="slider[$index].value" rz-slider-options="slider[$index].options"></rzslider>
                            <!--{{unit.name + " " + unit.count}}-->
                            <!--<input type="number" ng-model="unitModel" value="{{unitModel || 0}}" min="0" max="{{unit.count}}" ng-change="updateUnitsQueue($index, unitModel)">-->
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-warning" ng-click="sendQueuedUnits()">Send Troops</button>
                    <button class="btn btn-danger" ng-click="cancel()">Go Back</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>
                        War Log
                    </span>
                </div>
                <div class="panel-body overflow-80vh">
                    <div class="row" ng-repeat="warLog in warService.warLog track by $index">
                        <p>{{warLog}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>