<div class="card text-white text-center" ng-repeat="data in saveData track by $index">
    <div class="card-header bg-success border-0 h-100 d-flex justify-content-center " ng-show="data.baseStats !== undefined">
        <a class="ml-auto" href="#" ng-click="startGame(true, $index)">
            <img ng-src="./assets/img/leaderImages/{{data.leaders.currentLeader.image}}.jpg" class="media-object rounded-circle" alt="{{leader.image}}">
        </a>
        <h4 class="mt-0 ml-auto clickable d-inline border-bottom" ng-click="startGame(true, $index)">
            {{data.leaders.currentLeader.name}} -
            <span class="small">Year: {{1900 + data.baseStats.year}}</span>
        </h4>
        <button class="btn-danger btn-sm ml-auto" ng-show="data.baseStats !== undefined" ng-click="saveService.reset($index); getLocalStorageData();">Delete</button>
    </div>
    <div class="card-header text-white bg-secondary" ng-hide="data.baseStats !== undefined">
        <div class="media-body clickable" ng-click="toggleStartScreen(); changeGameSlot($index)">
            <h4 class="media-middle">
                Create a new save
            </h4>
        </div>
    </div>
</div>

