<div ng-controller="ResearchController">
    <script type="text/ng-template" id="researchView.html">
        <div id="Research" class="container-fluid">
            <h3>
                <span class="fas fa-flask"></span> Research
            </h3>

            <div class="row">
                Scientists: {{research.scientists}}/{{research.maxScientists}}
                Price: {{research.scientistPrice}}
                Science Gain: {{research.scienceGain()}}
                Points: {{research.sciencePoints}}
                <button class="btn btn-sm btn-default" ng-click="research.hireScientist()" ng-class="{'btn-danger': !research.canAffordScientist()}">Hire</button>
            </div>
            <div class="row">
                <div class="col-xs-4 panel panel-info modalOverflow" ng-repeat="(name, researchType) in research.researchType track by $index">
                    <div class="row panel-heading">
                        <div class="col-xs-12 text-center">
                            <span>
                                {{name}}
                            </span>
                        </div>
                    </div>
                    <div class="row" ng-repeat="researchData in researchType track by $index">
                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <span class="tag label label-primary center-block">
                                            <span>{{researchData.name}}</span>
                                            <a><i class="remove glyphicon glyphicon-info-sign glyphicon-white"></i></a>
                                        </span>
                                        <div class="row" ng-repeat="bonus in researchData.bonus track by $index">
                                            <div class="col-xs-12" ng-repeat="(key, value) in bonus track by $index" ng-show="value != 0">
                                                <h5>
                                                    <span class="label" ng-class="value > 0 ? 'label-success' : value < 0 ? '' : 'label-danger'">
                                                    {{research.getDescription(key) + ": " + value}}
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-success" ng-click="research.unlockResearch(name, $index)"
                                                  ng-disabled="research.sciencePoints < researchData.cost || research.isUnlocked[researchData.name]"
                                                  ng-class="{'btn-danger': research.sciencePoints < researchData.cost || research.isUnlocked[researchData.name]}">Unlock</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>